@import "tailwindcss";

@font-face {
    font-family: "VisbyCF";
    src: url('/fonts/Fontspring-DEMO-visbycf-regular.otf');
}

@font-face {
    font-family: "Roxborough";
    src: url('/fonts/Roxborough\ CF.ttf');
}

@theme {

--color-primary-color: #030605;


/* --color-text-color: #1B4965; */


--font-primary: "VisbyCF", sans-serif;
--font-secondary: "Roxborough", sans-serif;


}